[Unit]
Description=MV Registration Prediction Model Retraining Service
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/var/www/LTOWebsiteCapstone/backend/model/ml_models/mv_registration_flask
Environment="PATH=/var/www/LTOWebsiteCapstone/backend/model/ml_models/mv_registration_flask/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/var/www/LTOWebsiteCapstone/backend/model/ml_models/mv_registration_flask/venv/bin/python /var/www/LTOWebsiteCapstone/backend/model/ml_models/mv_registration_flask/retrain_model_automatic.py
StandardOutput=journal
StandardError=journal

